{% extends 'layouts/admin.html' %}
{% block header %}
      <div class="p-3 mb-2 bg-light">
         <h3 class="text-center">GESTION DES AGENCES</h3>
      </div>     
{% endblock header %}
{% block content %}
  <div class="container">
      <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-center alert alert alert-info ">Ajouter une agence</h4>
                  <form action="" method="POST">
                      {%csrf_token %}
                      {{form.as_p}}
                      <input type="submit" class="btn btn-success" value="Ajouter">
                  </form>
                </div>  
              </div>    
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card">
                  <div class="card-header"><h4 class="text-center">LISTE DES AGENCES</h4></div>
                  <div class="card-body">
                    <div class="table-responsive">
                      

                <table class="table table-hover table-bordered table-sm table-striped data-table">
                    <thead>
                      <tr>
                        
                        <th scope="col">Nom</th>
                        <th>Region</th>
                        <th scope="col">PERSONNEL</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for st in agences %}
                          <tr>
                            <td><a href="/super/parametres/agences/show/{{st.id}}" class="">{{st.nom}}</a></td>
                            <td>{{st.region.nom}}</td>
                            <td>{{st.profil_set.count}}</td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>  
                  </div>  
                </div>  
            </div>
        </div>
  </div>
  {% endblock content %}
