{% extends 'layouts/admin.html' %}

{% block content %}
  <div class="container">
      <div id="dash" class="row">
            <div class="col-md-6 col-sm-12 p-2 m-2">
                  <div class="card bg-success">
                        <div class="card-body"></div>
                  </div>
            </div>
            <div class="col-md-6 col-sm-12 p-2 m-2">
                  <div class="card bg-info">
                        <div class="card-body">

                        </div>
                  </div>
            </div>
            <div class="col-md-6 col-sm-12 p-2 m-2">
                  <div class="card bg-warning">
                        <div class="card-body">
                              
                        </div>
                  </div>
            </div>
            <div class="col-md-6 col-sm-12 p-2 m-2">
                  <div class="card bg-primary">
                        <div class="card-body">
                              
                        </div>
                  </div>
            </div>
      </div>
  </div>
  <style>
      #dash div.card-body{
            min-height: 220px;
      }
  </style>
  {% endblock content %}
