{% extends 'Clients/client.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center alert alert alert-info ">Ajouter un nouveau client </h4>
          <form action="" method="POST">
              {%csrf_token %}
              {{form.as_p}}
              <input type="submit" class="btn btn-success" value="Ajouter">
          </form>
        </div>  
      </div>    
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="card">
          <div class="card-header"><h4 class="text-center">LISTE DES CLIENTS</h4></div>
          <div class="card-body">
            <div class="table-responsive">
              
        {% if cli %}
        <table class="table table-hover table-bordered table-sm table-striped data-table">
            <thead>
              <tr>
                
                <th scope="col">Nom</th>
                <th scope="col">Telephone</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for st in cli %}
                  <tr>
                    <td><a href="/client/show/{{st.id}}" class="">{{st.nom}} {{st.prenom}}</a></td>
                    <td>{{st.telephone}}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn link-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <ul class="list-unstyled">
                            <li class="p-1">
                              <a href="/client/update/{{st.id}}" class="">Modifier</a>
                            </li>  
                            <li class="p-1">
                              <a href="/client/suspend/{{st.id}}" class="">Suspendre</a>
                            </li>  
                          </ul>
                        </div>
                      </div>
                        
                        
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            {% else %}
            <h4 class="text-center alert alert-warning">Pas d'enregistrement</h4>
            {% endif %}
            </div>  
          </div>  
        </div>  
    </div>
</div>
{% endblock content %}