{% extends 'layouts/agent.html' %}
{% block header %}
      <div class="p-3 mb-2 bg-light">
         <h3 class="text-center">MES TRANSACTIONS</h3>
      </div>     
{% endblock header %}
{% block content %}
  <div class="container">
      <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <div class="container">
                      <div class="row">
                        
                        <div class="col-md-12 col-sm-12">
                          <form class="form-inline" action="/agent/client/search" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="">Nouvelle operation : </label>
                              <input type="text" name="numero" placeholder="Saisir le numero de compte" class="form-control p-1">
                            </div>
                            <div class="form-group p-1">
                              <button class="btn btn-sm btn-primary" type="submit">Charger</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      

                <table class="table table-hover table-bordered table-sm table-striped data-table">
                    <thead>
                      <tr>
                        
                        <th scope="col">DATE</th>
                        <th>CLIENT</th>
                        <th>COMPTE</th>
                        <th>TYPE</th>
                        <th>MONTANT</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for st in transactions %}
                          <tr>
                            <td><a href="#" class="">{{st.created_at|date:"d-m-Y H:i"}}</a></td>
                            <td>{{ st.compte.client }}</td>
                            <td>{{ st.compte }}</td>
                            {% if st.is_deposit %}
                              <td><span class="badge badge-success">depot<i class="fa fa-upload" ></i></span></td>
                            {% else %}
                            <td><span class="badge badge-danger">retrait<i class="fa fa-download" ></i></span></td>
                            {% endif %}
                            <td>{{ st.montant }}</td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>  
                  </div>  
                </div>  
            </div>
        </div>
  </div>
  <style>
    fieldset{
      padding: 15px;
      border: 1px #b9b9b9 solid;
      border-radius: 5px;
      margin: 10px 0;
  }
  
  legend{
      font-weight: 700;
      font-size: 11px;
      font-family: "segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #000000;
      padding: 5px;
      width: auto;
  }
  </style>
  {% endblock content %}
